.crafted {
  padding-top: 112px;
  padding-bottom: 112px;

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 120%;
    font-size: 48px;
    color: #000;
    width: auto;
    max-width: 616px;
    margin-bottom: 24px;
  }

  &__columngroup {
    display: flex;
    gap: 80px;
  }

  &__column1 {
    padding-top: 94px;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: #000;
    width: auto;
    max-width: 616px;
  }

  &__column12 {
    display: flex;
    gap: 24px;
    margin-top: 40px;

    &__text {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      line-height: 150%;
      color: #000;
      width: auto;
      max-width: 296px;
    }
  }

  &__image {
    width: 616px;
    height: 657px;
  }
}
