.crafted {
  padding-top: 64px;
  padding-bottom: 64px;
  @media screen and (min-width: 1280px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 120%;
    font-size: 36px;
    color: #000;
    width: auto;
    max-width: 616px;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      max-width: 704px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 48px;
    }
  }

  &__columngroup {
    flex-direction: column;
    @media screen and (min-width: 1280px) {
      display: flex;
      gap: 80px;
      flex-direction: row;
    }
  }

  &__column1 {
    padding-top: 94px;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: #000;
    width: auto;
    max-width: 616px;
    @media screen and (min-width: 768px) {
      max-width: 704px;
    }
  }

  &__column12 {
    display: flex;
    gap: 24px;
    &__title {
      margin-bottom: 16px;
    }
    &__text1 {
      margin-bottom: 48px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      line-height: 150%;
      color: #000;
      width: auto;
      max-width: 296px;
      flex-direction: column;
      display: flex;
      gap: 32px;
      @media screen and (min-width: 768px) {
        max-width: 340px;
        margin-top: 40px;
      }
      @media screen and (min-width: 1280px) {
        display: flex;
        gap: 24px;
        flex-direction: row;
        margin-bottom: 0;
      }
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      line-height: 150%;
      color: #000;
      width: auto;
      max-width: 296px;
      flex-direction: column;
      display: flex;
      gap: 32px;
      margin-bottom: 32px;
      @media screen and (min-width: 768px) {
        max-width: 704px;
      }
      @media screen and (min-width: 1280px) {
        display: flex;
        gap: 24px;
        margin-top: 40px;
        flex-direction: row;
        margin-bottom: 0;
      }
    }
  }

  &__image {
    width: 335px;
    height: 357px;
    @media screen and (min-width: 768px) {
      width: 704px;
      height: 750px;
    }

    @media screen and (min-width: 1280px) {
      width: 616px;
      height: 657px;
    }
  }
}
