.footer {
padding-top: 48px;
padding-bottom: 48px;
    @media screen and (min-width: 720px) {
            padding-top: 55px;
    padding-bottom: 48px;
    }
    @media screen and (min-width: 1200px) {
            padding-top: 80px;
    padding-bottom: 80px;
    }
}
.footer-container {
    display: flex;
    align-items: center;
flex-direction: column;
flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
    align-items: center;
    flex-direction: row;
    }

}

.footer__linkk {
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 40px;

        @media screen and (min-width: 1200px) {
          margin-left: auto;
          margin-top: 0;
           margin-bottom: 0;
    }
}
.footer-texts {
    
    margin-top: 32px;
         @media screen and (min-width: 1200px) {
          margin-top: 0;
    }
}

.footer__net {
  

        display: flex;
    align-items: center;
    gap: 12px;
}

.footer__svg {
    width: 24px;
    height: 24px;
    margin-right: auto;
}
.footer-box {
margin-right: 0;
 @media screen and (min-width: 1200px) {
     margin-right: auto; 
 }
}

.footer_svg {
width: 151px;
height: 52px;

@media screen and (min-width: 1200px) {
    width: 84px;
height: 29px;
}
 
}

.footer__text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: black;
}


.footer__container__links {
    display: flex;
    align-items: center;
    gap: 32px ;
    flex-direction: column;
    @media screen and (min-width: 720px) {
        flex-direction: row;
        
    }
}







.footer-teta {
    
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: black;
     margin-top: 32px;
}
.footer-container-teta {
     
      border-top: 1px solid #0000004e;

    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
             margin-top: 112px;
    }

}