.footer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer__svg {
width: 84px;
height: 29px;
}

.footer__text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: black;
}


.footer__container__links {
    display: flex;
    align-items: center;
    gap: 32px ;
}


.footer__logo:first-child {
    margin-right: auto; 
}

.footer__link:first-child {
 
margin-left: auto;  
}

.footer__link {
    gap: 12px;
} 

.footer-teta {
    
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: black;
}
.footer-container-teta {
     
      border-top: 1px solid #0000004e;
          margin-top: 112px;
    display: flex;
    justify-content: center;

}