.gallery {
    padding: 112px 0;

    &__title {
        @extend %title-sections;
        font-size: 36px;
        text-align: center;
        margin-bottom: 24px;



        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            font-size: 48px;
        }
    }

    &__subtitle {
        @extend %subtitles-sections;
        max-width: 335px;
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            width: 704px;
            max-width: 100%;
        }

        @media screen and (min-width: 1280px) {
            max-width: 100%;
            width: 768px;
        }
    }

    &__img {
        max-width: 634px;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {}
    }

}