.gallery {
    padding: 112px 0;

    &__title {
        @extend %title-sections;
        font-size: 48px;
        text-align: center;
        margin-bottom: 24px
    }

    &__subtitle {
        @extend %subtitles-sections;
        width: 768px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }

    &__img {
        width: 634px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

}