.header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__item {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
.header__item:last-child {
  display: flex;
}

.header__logo {
  width: 130px;
  height: 45px;
  margin-right: auto;
}

.header__list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__button {
  background-color: black;
  border: 1px solid black;
  width: 175px;
  height: 40px;
  @extend %text;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  display: none;
  @media screen and (min-width: 720px) {
    display: block;
  }
}

.header__button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// adaptive
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10;
  width: 100vw;
}

.is-hidden {
  opacity: 0;

  pointer-events: none;
}

.menu__nav {
  display: flex;
}
.menu__li:first-child {
  margin-right: auto;
}

.header__menu__svg {
  width: 24px;
  height: 24px;
  fill: black;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  margin-top: 28px;
}
.menu_button {
  background-color: black;
  border: 1px solid black;
  width: 175px;
  height: 40px;
  @extend %text;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  margin-left: auto;
  display: none;
  @media screen and (min-width: 720px) {
    display: block;
  }
}

.menu__button {
  background-color: black;
  border: 1px solid black;
  width: 175px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  margin-right: 16px;
  z-index: 24;
}

.header__menu_button {
  border: 1px solid black;
  padding: 8px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: flex;

  @media screen and (min-width: 720px) {
    margin-left: 16px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__button__close {
  border: 1px solid black;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.button-scroll {
  @extend %text;
  font-weight: 400;
  font-size: 23px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: 0;
  right: 0;
}
.header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__item {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.header__logo {
  width: 130px;
  height: 45px;
  margin-right: auto;
}

.header__list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__button {
  background-color: black;
  border: 1px solid black;
  width: 175px;
  height: 40px;
  @extend %text;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;

  display: none;
  @media screen and (min-width: 720px) {
    display: block;
  }
}

.header__button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// adaptive
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10;
  width: 100vw;
}

.is-hidden {
  opacity: 0;

  pointer-events: none;
}

.menu__nav {
  display: flex;
}
.menu__li:first-child {
  margin-right: auto;
}

.header__menu__svg {
  width: 24px;
  height: 24px;
  fill: black;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  margin-top: 28px;
}
.menu_button {
  background-color: black;
  border: 1px solid black;
width: 200px;


  height: 40px;
  @extend %text;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  margin-left: auto;
  display: block;

  @media screen and (min-width: 720px) {
    display: none;
  }
}

.menu__button {
  background-color: black;
  border: 1px solid black;
  width: 175px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;

  margin-right: 16px;
  display: none;
  @media screen and (min-width: 720px) {
    display: block;
  }
}

.header__menu_button {
  border: 1px solid black;
  padding: 8px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: block;

  @media screen and (min-width: 720px) {
    margin-left: 16px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__button__close {
  border: 1px solid black;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.button-scroll {
  @extend %text;
  font-weight: 400;
  font-size: 23px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: 25px;
  right: 25px;
display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
