.hero {
    padding-top: 112px;
    padding-bottom: 112px;
}
.hero__title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 120%;
color: black;

}
.hero__text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: black;

}

.hero__button {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: white;
border: 1px solid black;

width: 143px;
height: 48px;
background: black;
margin-top: 32px;
}
.hero__button:hover {
      background-color: white;
  border: 1px solid black;
  color: black;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-img {
    width: 1312px;
height: 738px;
}

.hero__list {
    display: flex;
align-items: center;
margin-bottom: 40px;
}

.hero__item:last-child {
margin-left: 22px;

}
}

