.hero {
  padding-top: 64px;

  padding-bottom: 64px;
  @media screen and (min-width: 720px) {
  }
  @media screen and (min-width: 1200px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
.hero__title {
        @extend %title-sections;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 120%;
  color: black;

font-size: 40px;


  @media screen and (min-width: 720px) {
  margin-bottom: 0;
  }
    @media screen and (min-width: 1200px) {
  font-size: 56px;

  }
}


.hero__text {
        @extend %text;
  font-weight: 400;

  line-height: 150%;
  color: black;


font-size: 16px;
  @media screen and (min-width: 1200px) {
  font-size: 18px; 
  }
}

.hero__button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  border: 1px solid black;
padding: 12px 24px;
max-width: 335px;
width: 100%;
height: 48px;

  background: black;
  margin-top: 32px;
@media screen and (min-width: 720px) {
    width: 143px;
  height: 48px;
  padding: 0 0;
}

}
.hero__button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-img {
 width: 335px;
height: 188px;
  @media screen and (min-width: 720px) {
     width: 704px;
height: 396px;
  }

  @media screen and (min-width: 1200px) {
  width: 1312px;
  height: 738px;
  }

}

.hero__list {
  display: flex;
  align-items: center;
flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 720px) {
flex-wrap: nowrap;
  }
}

.hero__item:last-child {
    margin-left: 0;

  @media screen and (min-width: 720px) {
margin-left: 80px;
  }
    @media screen and (min-width: 1200px) {
  margin-left: 22px;
  }

}
