.materials {
  padding-top: 64px;
  padding-bottom: 64px;
  @media screen and (min-width: 1280px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @media screen and (min-width: 1280px) {
      font-family: "Roboto", sans-serif;
      font-size: 48px;
    }
  }

  &__list {
    display: flex;
    gap: 12px;
    flex-direction: column;

    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1280px) {
      flex-direction: row;
    }
  }

  &__box1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
    @media screen and (min-width: 1280px) {
      flex-direction: row;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: relative;
    overflow: hidden;
  }

  &__denim {
    display: block;
    width: 335px;
    height: 314px;
    min-width: 225px;
    @media screen and (min-width: 1280px) {
      width: 252px;
      height: 873px;
    }
  }

  &__tablet1 {
    display: block;
    width: 335px;
    height: 314px;
    min-width: 225px;
    @media screen and (min-width: 768px) {
      width: 226px;
      height: 595px;
      min-width: 225px;
      flex-grow: 1;
    }
        @media screen and (min-width: 1280px) {
      width: 252px;
      height: 873px;
    }
  }
  &__tablet2 {
    display: block;
    width: 335px;
    height: 314px;
    min-width: 225px;
    @media screen and (min-width: 768px) {
      width: 346px;
      height: 595px;
      min-width: 225px;
      flex-grow: 5;
    }
        @media screen and (min-width: 1280px) {
      width: 252px;
      height: 873px;
    }
  }

  &__overlay__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.55);
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
  }

  &__item:hover &__overlay__box {
    transform: translateY(0);
  }

  &__overlay__subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  &__overlay__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    padding: 0 10px;
  }
}
