.materials {
  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &__list {
    display: flex;
    gap: 12px;
  }

  &__denim {
    width: 252px;
    height: 873px;
  }

  &__overlay {
    position: relative;
    overflow: hidden;
  }

  &__item:hover &__overlay__box {
    transform: translatey(0);
  }

  &__overlay__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
  }

  &__overlay__subtitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    // color: white;
  }

  &__overlay__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    // color: white;
  }
}
