.real {
padding-top: 64px;  
padding-bottom: 64px;

    @media screen and (min-width: 1200px) {
          padding-top: 112px;
    padding-bottom: 112px;
    }
}
.real__title  {
    font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 120%;
text-align: center;
color: black;
@media screen and (min-width: 1200px) {
    font-size: 48px;
}
}
.real__text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: black;

@media screen and (min-width: 1200px) {
font-size: 18px;
}

}

.real__names {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: black;
margin-top: 24px;
}

.real__list {
margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.real__namest {
        font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: black;
margin-top: auto;

@media screen and (min-width: 720px) {
    margin-top: 24px;
}
}

.real__item {
    border: 1px solid black;
padding: 32px;

max-width: 320px;
height: 280px;
background: white;

@media screen and (min-width: 720px) {
    max-width: 336px;
height: 280px;
}

@media screen and (min-width: 1200px) {
    max-width: 640px;
height: 220px;
}
}


