.stand {
    padding-top: 112px;
    padding-bottom: 112px;

    &__container {
        display: flex;
    }

    &__box {
        display: flex;
        flex-direction: column;
        margin-right: 80px
    }

    &__title {
        @extend %title-sections;
        font-size: 48px;
        width: 380px;
        margin-bottom: 24px;
    }

    &__subtitle {
        @extend %subtitles-sections;
        width: 380px;

    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 48px;
    }

    &__item {
        width: 402px;
    }

    &__svg {
        width: 44px;
        height: 44px;
        margin-bottom: 24px;
    }

    &__li-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
        @extend %text;
        margin-bottom: 24px;

    }

    &__li-subtite {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        @extend %text;
    }




}