.vision {
  padding-top: 64px;
  padding-bottom: 64px;
  @media screen and (min-width: 1280px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  &__group {
    display: block;
    flex-direction: column;
    gap: 80px;
    @media screen and (min-width: 768px) {
      display: block;
      flex-direction: column;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: row;
    }
  }

  &__column1 {
    margin-top: 40px;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: black;
    margin-bottom: 24px;
    font-size: 36px;
    width: auto;
    @media screen and (min-width: 1280px) {
      font-size: 36px;
      width: auto;
    }
  }

  &__subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: black;
    width: 616px;
    margin-bottom: 8px;
    font-size: 16px;
    width: auto;
    @media screen and (min-width: 1280px) {
      font-size: 18px;
      width: 616px;
    }
  }

  &__item2 {
    margin-bottom: 24px;
  }

  &__label {
    margin-bottom: 8px;
    margin-top: 24px;
  }

  &__login {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__frame {
    border: 1px solid black;
    padding: 12px;
    width: auto;
    height: 48px;
    display: flex;
    @media screen and (min-width: 1280px) {
      width: 616px;
    }
  }

  &__frame2 {
    border: 1px solid black;
    padding: 12px;
    width: auto;
    height: 180px;
    @media screen and (min-width: 1280px) {
      width: 616px;
    }
  }

  &__placeholder {
    width: 311px;
    height: auto;
    resize: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    @media screen and (min-width: 1280px) {
      width: 596px;
    }
  }
  &__placeholder1 {
    width: 311px;
    resize: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    @media screen and (min-width: 1280px) {
      width: 596px;
    }
  }

  &__submit {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
    display: block;
  }

  &__background {
    border: 1px solid black;
    padding: 12px 24px;
    width: 207px;
    height: 48px;
    display: block;
  }

  &__button {
    background-color: black;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
    margin-right: auto;
    margin-top: 24px;

    @media screen and (min-width: 768px) {
      width: 207px;
      height: 48px;
    }
    @media screen and (min-width: 1280px) {
      width: 175px;
    }
  }

  &__button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__image {
    display: flex;
    width: 335px;
    height: 566px;
    margin-top: 40px;
    @media screen and (min-width: 768px) {
      width: 704px;
      height: 566px;
    }
    @media screen and (min-width: 1280px) {
      width: 616px;
      height: 734px;
      margin-top: 0;
    }
  }
}
