.vision {
  &__group {
    display: flex;
    gap: 80px;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: black;
    margin-top: 40px;
    margin-bottom: 24px;
  }

  &__subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: black;
    width: 616px;
    margin-bottom: 8px;
  }

&__item2 {
  margin-bottom: 24px;
}


  &__label {
    margin-bottom: 8px;
    margin-top: 24px;
  }

  &__login {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__frame {
    border: 1px solid black;
    padding: 12px;
    width: 616px;
    height: 48px;
    display: flex;
  }

  &__frame2 {
    border: 1px solid black;
    padding: 12px;
    width: 616px;
    height: 180px;
  }

  &__placeholder {
    width: 596px;
    height: auto;
    resize: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
  }

  &__submit {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
    display: block;
  }

  &__background {
    border: 1px solid black;
    padding: 12px 24px;
    width: 207px;
    height: 48px;
        display: block;
  }

  &__button {
  background-color: black;
  border: 1px solid black;
  width: 175px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  margin-right: auto;

}

&__button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  &__image {
    width: 616px;
    height: 734px;
  }
}
