%title-sections {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 120%;
    color: #000;
}

%transitions {
    transition-duration: 250ms;
    transition-property: background-color, color, fill, border, transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%subtitles-sections {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000;
}