<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-box">
        <svg class="footer_svg">
          <use href="./img/images.svg#icon-Logo"></use>
        </svg>
      </div>
      <div class="footer-texts">
        <ul class="footer__container__links">
          <li class="footer__links">
            <a class="footer__text" href="#crafted">Manifesto</a>
          </li>
          <li class="footer__links">
            <a class="footer__text" href="#concept">The Process</a>
          </li>
          <li class="footer__links">
            <a class="footer__text" href="#gallery">Our Works</a>
          </li>
          <li class="footer__links">
            <a class="footer__text" href="#stand">Our Principles</a>
          </li>
          <li class="footer__links">
            <a class="footer__text" href="#materials">Materials</a>
          </li>
          <li class="footer__links">
            <a class="footer__text" href="#hero">Testimonials</a>
          </li>
        </ul>
      </div>
      <div class="footer__linkk">
        <ul class="footer__net">
          <li class="footer__link">
            <a href="https://www.instagram.com/"
              ><svg class="footer__svg">
                <use href="./img/images.svg#icon-Instagram"></use></svg
            ></a>
          </li>
          <li class="footer__link">
            <a href="https://x.com/?lang=uk">
              <svg class="footer__svg">
                <use href="./img/images.svg#icon-X"></use></svg
            ></a>
          </li>
          <li class="footer__link">
            <a href="https://www.youtube.com/">
              <svg class="footer__svg">
                <use href="./img/images.svg#icon-Youtube"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-container-teta">
      <p class="footer-teta">© 2025 Stitch. All rights reserved.</p>
    </div>
  </div>
</footer>
