<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__logo">
        <svg class="footer__svg"><use href=""></use></svg>
      </li>
      <li class="footer__links">
        <p class="footer__text">Manifesto</p>
      </li>
      <li class="footer__links">
        <p class="footer__text">The Process</p>
      </li>
      <li class="footer__links">
        <p class="footer__text">Our Works</p>
      </li>
      <li class="footer__links">
        <p class="footer__text">Our Principles</p>
      </li>
      <li class="footer__links">
        <p class="footer__text">Materials</p>
      </li>
      <li class="footer__links">
        <p class="footer__text">Testimonials</p>
      </li>

      <li class="footer__link">
        <svg class="footer__svg"><use href=""></use></svg>
      </li>
      <li class="footer__link">
        <svg class="footer__svg"><use href=""></use></svg>
      </li>
      <li class="footer__link">
        <svg class="footer__svg"><use href=""></use></svg>
      </li>
    </ul>
  </div>
</footer>
