<section class="gallery"></section>
<div class="container">
    <h2 class="gallery__title">Our Latest Creations</h2>
    <p class="gallery__subtitle">Every piece you see here is a one-of-a-kind creation, born from a unique idea and built
        for a specific individual. We never make the same thing twice. This gallery is a testament to that promise and a
        showcase of what’s possible when you break free from the ordinary.</p>
    <ul class="gallery__list">

        <li class="gallery__item">
            <picture class="gallery__img">
                <source
                    srcset="./img/desktop/manlookaround@desktop-1x.webp 1x, ./img/desktop/manlookaround@desktop-2x.webp 2x, ./img/desktop/manlookaround@desktop-3x.webp 3x"
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/tablet/manlookaround@tablet-1x.webp 1x, ./img/tablet/manlookaround@tablet-2x.webp 2x, ./img/tablet/manlookaround@tablet-3x.webp 3x"
                    media="(min-width: 768px)">
                <source
                    srcset="./img/mobile/manlookaround@mobile-1x.webp 1x, ./img/mobile/manlookaround@mobile-2x.webp 2x, ./img/mobile/manlookaround@mobile-3x.webp 3x"
                    media="(max-width: 767px)">
                <img src="./img/mobile/manlookaround@mobile-1x.webp" alt="">

            </picture>
        </li>
        <li class="gallery__item">
            <picture class="gallery__img">
                <source
                    srcset="./img/desktop/manandwall@desktop-1x.webp 1x, ./img/desktop/manandwall@desktop-2x.webp 2x, ./img/desktop/manandwall@desktop-3x.webp 3x"
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/tablet/manandwall@tablet-1x.webp 1x, ./img/tablet/manandwall@tablet-2x.webp 2x, ./img/tablet/manandwall@tablet-3x.webp 3x"
                    media="(min-width: 768px)">
                <source
                    srcset="./img/mobile/manandwall@mobile-1x.webp 1x, ./img/mobile/manandwall@mobile-2x.webp 2x, ./img/mobile/manandwal@mobile-3x.webp 3x"
                    media="(max-width: 767px)">
                <img src="./img/mobile/manandwall@mobile-1x.webp" alt="">
            </picture>
        </li>
        <li class="gallery__item">
            <picture class="gallery__img">
                <source
                    srcset="./img/desktop/manrun@desktop-1x.webp 1x, ./img/desktop/manrun@desktop-2x.webp 2x, ./img/desktop/manrun@desktop-3x.webp 3x"
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/tablet/manrun@tablet-1x.webp 1x, ./img/tablet/manrun@tablet-2x.webp 2x, ./img/tablet/manrun@tablet-3x.webp 3x"
                    media="(min-width: 768px)">
                <source
                    srcset="./img/mobile/manrun@mobile-1x.webp 1x, ./img/mobile/manrun@mobile-2x.webp 2x, ./img/mobile/manrun@mobile-3x.webp 3x"
                    media="(max-width: 767px)">

                <img src="./img/mobile/manrun@mobile-1x.webp" alt="">
            </picture>
        </li>
        <li class="gallery__item">
            <picture class="gallery__img">
                <source
                    srcset="./img/desktop/manonroof@desktop-1x.webp 1x, ./img/desktop/manonroof@desktop-2x.webp 2x, ./img/desktop/manonroof@desktop-3x.webp 3x"
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/tablet/manonroof@tablet-1x.webp 1x, ./img/tablet/manonroof@tablet-2x.webp 2x, ./img/tablet/manonroof@tablet-3x.webp 3x"
                    media="(min-width: 768px)">
                <source
                    srcset="./img/mobile/manonroof@mobile-1x.webp 1x, ./img/mobile/manonroof@mobile-2x.webp 2x, ./img/mobile/manonroof@mobile-3x.webp 3x"
                    media="(max-width: 767px)">
                <img src="./img/mobile/manonroof@mobile-1x.webp" alt="">
            </picture>
        </li>
        <li class="gallery__item">
            <picture class="gallery__img">
                <source
                    srcset="./img/desktop/girlinmetro@desktop-1x.webp 1x, ./img/desktop/girlinmetro@desktop-2x.webp 2x, ./img/desktop/girlinmetro@desktop-3x.webp 3x"
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/tablet/girlinmetro@tablet-1x.webp 1x, ./img/tablet/girlinmetro@tablet-2x.webp 2x, ./img/tablet/girlinmetro@tablet-3x.webp 3x"
                    media="(min-width: 768px)">
                <source
                    srcset="./img/mobile/girlinmetro@mobile-1x.webp 1x, ./img/mobile/girlinmetro@mobile-2x.webp 2x, ./img/mobile/girlinmetro@mobile-3x.webp 3x"
                    media="(max-width: 767px)">
                <img src="./img/mobile/girlinmetro@mobile-1x.webp" alt="">
            </picture>
        </li>
        <li class="gallery__item">
            <picture class="gallery__img">
                <source
                    srcset="./img/desktop/scull@desktop-1x.webp 1x, ./img/desktop/scull@desktop-2x.webp 2x, ./img/desktop/scull@desktop-3x.webp 3x"
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/tablet/scull@tablet-1x.webp 1x, ./img/tablet/scull@tablet-2x.webp 2x, ./img/tablet/scull@tablet-3x.webp 3x"
                    media="(min-width: 768px)">
                <source
                    srcset="./img/mobile/scull@mobile-1x.webp 1x, ./img/mobile/scull@mobile-2x.webp 2x, ./img/mobile/scull@mobile-3x.webp 3x"
                    media="(max-width: 767px)">
                <img src="./img/mobile/scull@mobile-1x.webp" alt="">
            </picture>
        </li>
    </ul>
</div>