<div class="container">
    <h2 class="gallery__title">Our Latest Creations</h2>
    <p class="gallery__subtitle">Every piece you see here is a one-of-a-kind creation, born from a unique idea and built
        for a specific individual. We never make the same thing twice. This gallery is a testament to that promise and a
        showcase of what’s possible when you break free from the ordinary.</p>

    <ul class="gallery__list">
        <li class="gallery__item">
            <picture class="gallery__img">


            </picture>
        </li>
        <li class="gallery__item">
            <picture class="gallery__img">
                <source srcset="../img/desktop/manlookaround@desktop-1x.webp 1x, ../img/desktop/manlookaround@desktop-2x.webp 2x, ../img/desktop/manlookaround@desktop-3x.webp 3x" media="(min-width: 1280px)">
                <img src="../img/desktop/manlookaround@desktop-1x.webp" alt="">
            </picture>
        </li>
        <li class="gallery__item">
             
        </li>
        <li class="gallery__item">
            <picture class="gallery__img">
                <source>
            </picture>
        </li>
        <li class="gallery__item">
            <picture class="gallery__img">
                <source>
            </picture>
        </li>
        <li class="gallery__item">
            <picture class="gallery__img">
                <source>
            </picture>
        </li>
    </ul>
</div>