<header class="header" id="header">
  <div class="container">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <svg class="header__logo">
            <use href="./img/images.svg#icon-Logo"></use>
          </svg>
        </li>
        <li class="header__item">
          <a class="header__links" href="#crafted"> Manifesto </a>
        </li>
        <li class="header__item">
          <a class="header__links" href="#footer"> The Process</a>
        </li>
        <li class="header__item">
          <a class="header__links" href="#real"> Our Works</a>
        </li>
        <li class="header__item">
          <a class="header__links" href="#vision"> Our Principles</a>
        </li>
        <li class="header__item">
          <a class="header__links" href="#materials"> Materials</a>
        </li>
        <li class="header__item">
          <a class="header__links" href="#vision"> Testimonials</a>
        </li>
      </ul>
      <button class="header__button">
        <a class="header__button__text" href="#vision">Start Your Creation</a>
      </button>

      <button class="header__menu_button" data-menu-open>
        <svg class="header__menu__svg">
          <use href="./img/images.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
    <div class="menu is-hidden" data-menu>
      <ul class="menu__nav">
        <li class="menu__li">
          <svg class="header__logo">
            <use href="./img/images.svg#icon-Logo"></use>
          </svg>
        </li>
        <li class="menu__li">
          <button class="menu__button">Start Your Creation</button>
        </li>
        <li class="menu__li">
          <button class="menu__button__close" data-menu-close>
            <svg class="header__menu__svg">
              <use href="./img/images.svg#icon-close-button"></use>
            </svg>
          </button>
        </li>
      </ul>

      <ul class="menu__list">
        <li class="menu__item">
          <a class="header__links" href="."> Manifesto </a>
        </li>
        <li class="menu__item">
          <a class="header__links" href="."> The Process</a>
        </li>
        <li class="menu__item">
          <a class="header__links" href="."> Our Works</a>
        </li>
        <li class="menu__item">
          <a class="header__links" href="."> Our Principles</a>
        </li>
        <li class="menu__item">
          <a class="header__links" href="."> Materials</a>
        </li>
        <li class="menu__item">
          <a class="header__links" href="."> Testimonials</a>
        </li>
        <li class="menu__item">
          <button class="menu_button">Start Your Creation</button>
        </li>
      </ul>
    </div>
  </div>
</header>
<a class="button-scroll" href="#header">top</a>
