<header class="header">
  <div class="container">
    <svg><use href=""></use></svg>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__links" href="."> Manifesto </a>
        </li>
        <li class="header__item">
          <a class="header__links" href="."> The Process</a>
        </li>
        <li class="header__item">
          <a class="header__links" href="."> Our Works</a>
        </li>
        <li class="header__item">
          <a class="header__links" href="."> Our Principles</a>
        </li>
        <li class="header__item">
          <a class="header__links" href="."> Materials</a>
        </li>
        <li class="header__item">
          <a class="header__links" href="."> Testimonials</a>
        </li>
        <li class="header__item">
          <button class="header__button">
            <p class="header__button__text">Start Your Creation</p>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
