<section class="hero" id="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero_container-title">
        <h1 class="hero__title">Clothing Designed for One. You.</h1>
      </div>
      <div class="hero_container-text">
        <p class="hero__text">
          Forget the ordinary. We create exceptional, made-to-measure pieces
          designed exclusively for your story. Tell us your idea, and let’s
          craft something timeless, together.
        </p>
        <button class="hero__button">
          <a href="#vision">How It Works</a>
        </button>
      </div>
    </div>

    <picture class="hero-img">
      <source
        srcset="
          ./img/desktop/gradient@desktop-1x.webp 1x,
          ./img/desktop/gradient@desktop-2x.webp 2x,
          ./img/desktop/gradient@desktop-3x.webp 3x
        "
        media="(min-width: 1143px)"
      />
      <source
        srcset="
          ./img/tablet/gradient@tablet-1x.webp 1x,
          ./img/tablet/gradient@tablet-2x.webp 2x,
          ./img/tablet/gradient@tablet-3x.webp 3x
        "
        media="(min-width: 700px)"
      />
      <source
        srcset="
          ./img/mobile/gradient@mobile-1x.webp 1x,
          ./img/mobile/gradient@mobile-2x.webp 2x,
          ./img/mobile/gradient@mobile-3x.webp 3x
        "
        media="(max-width: 699px)"
      />
      <img
        class="gallery-photo1"
        src="../img/desktop/gradient@desktop-1x.webp"
        alt=""
      />
    </picture>
  </div>
</section>
