<section class="hero">
    <div class="container">
      
            <ul class="hero__list">
                <li class="hero__item"><p class="hero__title">Clothing Designed for One. You.</p></li>
                <li class="hero__item"><p class="hero__text">Forget the ordinary. We create exceptional, made-to-measure pieces designed exclusively for your story. Tell us your idea, and let’s craft something timeless, together.</p>
                <button class="hero__button"> <p class="hero__button__text">How It Works</p></button>
                </li>
            </ul>
     <img src="" alt="" class="hero-img">
    </div>
</section>
