<section class="materials">
  <div class="container">
    <h2 class="materials__title">Our Materials</h2>

    <ul class="materials__list">
      <li class="materials__item">
        <div class="materials__overlay">
          <img
            class="materials__denim"
            src="./img/desktop/denim@desktop-1x.webp"
            alt="denim"
          />
          <div class="materials__overlay__box">
            <h3 class="materials__overlay__subtitle">Raw Selvedge Denim</h3>
            <p class="materials__overlay__text">
              Built to last. This iconic fabric doesn't wear out; it wears in,
              telling a unique story over time.
            </p>
          </div>
        </div>
      </li>

      <li class="materials__item">
        <div class="materials__overlay">
          <img
            class="materials__denim"
            src="./img/desktop/ripstop@desktop-1x.webp"
            alt="ripstop"
          />
          <div class="materials__overlay__box">
            <h3 class="materials__overlay__subtitle">Technical Ripstop</h3>
            <p class="materials__overlay__text">
              Your shield against the city. Lightweight, durable, and
              water-resistant for unpredictable urban life.
            </p>
          </div>
        </div>
      </li>

      <li class="materials__item">
        <div class="materials__overlay">
          <img
            class="materials__denim"
            src="./img/desktop/leather@desktop-1x.webp"
            alt="leather"
          />
          <div class="materials__overlay__box">
            <h3 class="materials__overlay__subtitle">Heavy-Grain Leather</h3>
            <p class="materials__overlay__text">
              Pure durability and character. A rugged material that gains more
              personality with every single wear.
            </p>
          </div>
        </div>
      </li>

      <li class="materials__item">
        <div class="materials__overlay">
          <img
            class="materials__denim"
            src="./img/desktop/fleese@desktop-1x.webp"
            alt="fleese"
          />
          <div class="materials__overlay__box">
            <h3 class="materials__overlay__subtitle">Heavyweight Fleece</h3>
            <p class="materials__overlay__text">
              Luxury you can feel. The foundation of comfort with a structured
              exterior and an incredibly soft interior.
            </p>
          </div>
        </div>
      </li>

      <li class="materials__item">
        <div class="materials__overlay">
          <img
            class="materials__denim"
            src="./img/desktop/canvas@desktop-1x.webp"
            alt="canvas"
          />
          <div class="materials__overlay__box">
            <h3 class="materials__overlay__subtitle">Duck Canvas</h3>
            <p class="materials__overlay__text">
              Inspired by timeless workwear, this fabric offers a tough,
              structured frame and unmatched reliability.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
