<section class="materials">
  <div class="container">
    <h2 class="materials__title">Our Materials</h2>
    <ul class="materials__list">
      <li class="materials__item">
        <img
          class="materials__denim"
          src="../img/desktop/denim@desktop-1x.webp"
          alt="denim"
        />
        <div>
          <h3 class="materials__subtitle">Raw Selvedge Denim</h3>
          <p class="materials__tezt">
            Built to last. This iconic fabric doesn't wear out; it wears in,
            telling a unique story over time.
          </p>
        </div>
      </li>
      <li class="materials__item">
        <img src="../img/desktop/ripstop@desktop-1x.webp" alt="ripstop" />
        <div>
          <h3 class="materials__subtitle">Technical Ripstop</h3>
          <p class="materials__tezt">
            Your shield against the city. Lightweight, durable, and
            water-resistant for unpredictable urban life.
          </p>
        </div>
      </li>
      <li class="materials__item">
        <img src="../img/desktop/leather@desktop-1x.webp" alt="leather" />
        <div>
          <h3 class="materials__subtitle">Heavy-Grain Leather</h3>
          <p class="materials__tezt">
            Pure durability and character. A rugged material that gains more
            personality with every single wear.
          </p>
        </div>
      </li>
      <li class="materials__item">
        <img src="../img/desktop/fleese@desktop-1x.webp" alt="fleese" />
        <div>
          <h3 class="materials__subtitle">Heavyweight Fleece</h3>
          <p class="materials__tezt">
            Luxury you can feel. The foundation of comfort with a structured
            exterior and an incredibly soft interior.
          </p>
        </div>
      </li>
      <li class="materials__item">
        <img src="../img/desktop/canvas@desktop-1x.webp" alt="canvas" />
        <div>
          <h3 class="materials__subtitle">Duck Canvas</h3>
          <p class="materials__tezt">
            Inspired by timeless workwear, this fabric offers a tough,
            structured frame and unmatched reliability.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
