<section class="materials">
  <div class="container">
    <h2 class="materials__title">Our Materials</h2>
    <ul class="materials__list">
      <div class="materials__box1">
        <li class="materials__item">
          <div class="materials__overlay">
            <picture>
              <source
                srcset="
                  ./img/desktop/denim@desktop-1x.webp 1x,
                  ./img/desktop/denim@desktop-2x.webp 2x,
                  ./img/desktop/denim@desktop-3x.webp 3x
                "
                media="(min-width: 1143px)"
              />
              <source
                srcset="
                  ./img/tablet/denim@tablet-1x.webp 1x,
                  ./img/tablet/denim@tablet-2x.webp 2x,
                  ./img/tablet/denim@tablet-3x.webp 3x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/denim@mobile-1x.webp 1x,
                  ./img/mobile/denim@mobile-2x.webp 2x,
                  ./img/mobile/denim@mobile-3x.webp 3x
                "
                media="(max-width: 699px)"
              />
              <img
                class="materials__denim materials__tablet1"
                src="./img/desktop/denim@desktop-1x.webp"
                alt="denim"
              />
            </picture>
            <div class="materials__overlay__box">
              <h3 class="materials__overlay__subtitle">Raw Selvedge Denim</h3>
              <p class="materials__overlay__text">
                Built to last. This iconic fabric doesn't wear out; it wears in,
                telling a unique story over time.
              </p>
            </div>
          </div>
        </li>

        <li class="materials__item">
          <div class="materials__overlay">
            <picture>
              <source
                srcset="
                  ./img/desktop/ripstop@desktop-1x.webp 1x,
                  ./img/desktop/ripstop@desktop-2x.webp 2x,
                  ./img/desktop/ripstop@desktop-3x.webp 3x
                "
                media="(min-width: 1143px)"
              />
              <source
                srcset="
                  ./img/tablet/ripstop@tablet-1x.webp 1x,
                  ./img/tablet/ripstop@tablet-2x.webp 2x,
                  ./img/tablet/ripstop@tablet-3x.webp 3x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/ripstop@mobile-1x.webp 1x,
                  ./img/mobile/ripstop@mobile-2x.webp 2x,
                  ./img/mobile/ripstop@mobile-3x.webp 3x
                "
                media="(max-width: 699px)"
              />
              <img
                class="materials__denim materials__tablet1"
                src="./img/desktop/ripstop@desktop-1x.webp"
                alt="ripstop"
              />
            </picture>
            <div class="materials__overlay__box">
              <h3 class="materials__overlay__subtitle">Technical Ripstop</h3>
              <p class="materials__overlay__text">
                Your shield against the city. Lightweight, durable, and
                water-resistant for unpredictable urban life.
              </p>
            </div>
          </div>
        </li>

        <li class="materials__item">
          <div class="materials__overlay">
            <picture>
              <source
                srcset="
                  ./img/desktop/leather@desktop-1x.webp 1x,
                  ./img/desktop/leather@desktop-2x.webp 2x,
                  ./img/desktop/leather@desktop-3x.webp 3x
                "
                media="(min-width: 1143px)"
              />
              <source
                srcset="
                  ./img/tablet/leather@tablet-1x.webp 1x,
                  ./img/tablet/leather@tablet-2x.webp 2x,
                  ./img/tablet/leather@tablet-3x.webp 3x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/leather@mobile-1x.webp 1x,
                  ./img/mobile/leather@mobile-2x.webp 2x,
                  ./img/mobile/leather@mobile-3x.webp 3x
                "
                media="(max-width: 699px)"
              />
              <img
                class="materials__denim materials__tablet1"
                src="./img/desktop/leather@desktop-1x.webp"
                alt="leather"
              />
            </picture>
            <div class="materials__overlay__box">
              <h3 class="materials__overlay__subtitle">Heavy-Grain Leather</h3>
              <p class="materials__overlay__text">
                Pure durability and character. A rugged material that gains more
                personality with every single wear.
              </p>
            </div>
          </div>
        </li>
      </div>
      <div class="materials__box1">
        <li class="materials__item">
          <div class="materials__overlay">
            <picture>
              <source
                srcset="
                  ./img/desktop/fleese@desktop-1x.webp 1x,
                  ./img/desktop/fleese@desktop-2x.webp 2x,
                  ./img/desktop/fleese@desktop-3x.webp 3x
                "
                media="(min-width: 1143px)"
              />
              <source
                srcset="
                  ./img/tablet/fleese@tablet-1x.webp 1x,
                  ./img/tablet/fleese@tablet-2x.webp 2x,
                  ./img/tablet/fleese@tablet-3x.webp 3x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/fleese@mobile-1x.webp 1x,
                  ./img/mobile/fleese@mobile-2x.webp 2x,
                  ./img/mobile/fleese@mobile-3x.webp 3x
                "
                media="(max-width: 699px)"
              />
              <img
                class="materials__denim materials__tablet2"
                src="./img/desktop/fleese@desktop-1x.webp"
                alt="fleese"
              />
            </picture>
            <div class="materials__overlay__box">
              <h3 class="materials__overlay__subtitle">Heavyweight Fleece</h3>
              <p class="materials__overlay__text">
                Luxury you can feel. The foundation of comfort with a structured
                exterior and an incredibly soft interior.
              </p>
            </div>
          </div>
        </li>

        <li class="materials__item">
          <div class="materials__overlay">
            <picture>
              <source
                srcset="
                  ./img/desktop/canvas@desktop-1x.webp 1x,
                  ./img/desktop/canvas@desktop-2x.webp 2x,
                  ./img/desktop/canvas@desktop-3x.webp 3x
                "
                media="(min-width: 1143px)"
              />
              <source
                srcset="
                  ./img/tablet/canvas@tablet-1x.webp 1x,
                  ./img/tablet/canvas@tablet-2x.webp 2x,
                  ./img/tablet/canvas@tablet-3x.webp 3x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/canvas@mobile-1x.webp 1x,
                  ./img/mobile/canvas@mobile-2x.webp 2x,
                  ./img/mobile/canvas@mobile-3x.webp 3x
                "
                media="(max-width: 699px)"
              />
              <img
                class="materials__denim materials__tablet2"
                src="./img/desktop/canvas@desktop-1x.webp"
                alt="canvas"
              />
            </picture>
            <div class="materials__overlay__box">
              <h3 class="materials__overlay__subtitle">Duck Canvas</h3>
              <p class="materials__overlay__text">
                Inspired by timeless workwear, this fabric offers a tough,
                structured frame and unmatched reliability.
              </p>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</section>
