<section class="stand" id="stand">
    <div class="container stand__container">
        <div class="stand__box">
            <h2 class="stand__title">For the Ones Who Stand Out.</h2>
            <p class="stand__subtitle">Your style is your signature. It’s too unique to be found on a rack. We exist for
                those
                who choose to create their own lane, not just follow the hype.</p>
        </div>
        <ul class="stand__list">
            <li class="stand__item">
                <svg class="stand__svg">
                    <use href="./img/icon.svg#icon-pattern"></use>
                </svg>
                <h3 class="stand__li-title">Break the Mold</h3>
                <p class="stand__li-subtite">Fast fashion wants you to blend in. We believe in standing out. Forget the
                    sea of sameness and predictable trends; your personal style deserves more.</p>
            </li>
            <li class="stand__item">
                <svg class="stand__svg">
                    <use href="./img/icon.svg#icon-pan_tool"></use>
                </svg>
                <h3 class="stand__li-title">As Original As You</h3>
                <p class="stand__li-subtite">We don't do duplicates. Every single piece is standualized and crafted to
                    be a one-of-a-kind statement, ensuring what you wear is exclusively yours.</p>
            </li>
            <li class="stand__item">
                <svg class="stand__svg">
                    <use href="./img/icon.svg#icon-nights_stay"></use>
                </svg>
                <h3 class="stand__li-title">For the Rule-Breakers</h3>
                <p class="stand__li-subtite">This is for the creators, the non-conformists, and the individuals who dare
                    to be different. We provide the canvas for your vision, not the other way around.</p>
            </li>
            <li class="stand__item">
                <svg class="stand__svg">
                    <use href="./img/icon.svg#icon-user_attributes"></use>
                </svg>
                <h3 class="stand__li-title">Wear Your Identity</h3>
                <p class="stand__li-subtite">This is more than streetwear. It's a form of self-expression, a piece of
                    your
                    narrative. We don’t just make clothes; we craft armor for your story.</p>
            </li>
        </ul>
    </div>
</section>