<section class="vision">
  <div class="container">
    <div class="vision__group">
      <div class="vision__column1">
        <h2 class="vision__title">Bring Your Vision to Life</h2>
        <p class="vision__subtitle">
          You're in the right place. Share your thoughts with us, and we'll
          collaborate to make your concept a reality.
        </p>
        <ul class="vision__login">
          <li class="vision__item">
            <label class="vision__label" for="name">Name*</label>
            <div class="vision__frame">
              <input
                class="vision__placeholder"
                placeholder="Your name"
                type="name"
              />
            </div>
          </li>
          <li class="vision__item">
            <label class="vision__label" for="name">Email*</label>
            <div class="vision__frame">
              <input
                class="vision__placeholder"
                type="name"
                placeholder="Your email"
              />
            </div>
          </li>
          <li class="vision__item vision__item2">
            <label class="vision__label" for="name">Describe Your Vision</label>
            <div class="vision__frame2">
              <textarea
                class="vision__placeholder"
                placeholder="Tell us about the concept you're imagining. What's the story? What feeling should it evoke? The more details, the better we can understand your unique style."
              ></textarea>
            </div>
          </li>
          <li class="vision__item">
        <button class="vision__button">
            <p class="vision__button__text">Start Your Creation</p>
          </button>
          </li>
        </ul>
      </div>
      <div class="vision__column2">
        <img
          class="vision__image"
          src="./img/desktop/maked@desktop-1x.webp"
          alt="maked"
        />
      </div>
    </div>
  </div>
</section>
