<section class="vision">
  <div class="container">
    <div class="vision__column1">
      <h2 class="vision__title">Bring Your Vision to Life</h2>
      <p class="vision__subtitle">
        You're in the right place. Share your thoughts with us, and we'll
        collaborate to make your concept a reality.
      </p>
      <ul class="vision__login">
        <li class="vision__item">
          <label for="name">Name*</label>
          <input type="name" />
          <textarea id="name" placeholder="Your name"></textarea>
        </li>
        <li class="vision__item">
          <label for="name">Email*</label>
          <input type="name" />
          <textarea id="name" placeholder="Your email"></textarea>
        </li>
        <li class="vision__item">
          <label for="name">Describe Your Vision</label>
          <input type="name" />
          <textarea
            id="name"
            placeholder="Tell us about the concept you're imagining. What's the story? What feeling should it evoke? The more details, the better we can understand your unique style."
          ></textarea>
        </li>
      </ul>
      <button class="vision__submit" type="submit">
        Start the Conversation
      </button>
    </div>
    <div class="vision__column2">
      <img
        class="vision__image"
        src="./img/desktop/maked@desktop-1x.webp"
        alt="maked"
      />
    </div>
  </div>
</section>
