@import "./base/common.scss" ;
@import "./base/reset.scss" ;
@import "./utills/mixin.sass" ;
@import "./utills/vars.sass" ;
@import "./components/header.scss" ;
@import "./components/hero.scss" ;
@import "./components/stand.scss" ;
@import "./components/concept.scss" ;
@import "./components/gallery.scss" ;
@import "./components/crafted.scss" ;
@import "./components/materials.scss" ;
@import "./components/real.scss" ;
@import "./components/vision.scss" ;
@import "./components/footer.scss" ;