@import "./base/reset";
@import "./base/common";
@import "./utills/placeholder";
@import "./components/header";
@import "./components/hero";
@import "./components/stand";
@import "./components/concept";
@import "./components/gallery";
@import "./components/crafted";
@import "./components/materials";
@import "./components/real";
@import "./components/vision";
@import "./components/footer";
